TT/MedyxQN_KN/MedyxQN_KN/Medyx/App_WebReferences/SignserverWS/ClientWSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://clientws.signserver.org/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ClientWSService" targetNamespace="http://clientws.signserver.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://clientws.signserver.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="processData" type="tns:processData" />
      <xs:element name="processDataResponse" type="tns:processDataResponse" />
      <xs:element name="processSOD" type="tns:processSOD" />
      <xs:element name="processSODResponse" type="tns:processSODResponse" />
      <xs:complexType name="processSOD">
        <xs:sequence>
          <xs:element minOccurs="0" name="worker" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="metadata" type="tns:metadata" />
          <xs:element minOccurs="0" name="sodData" type="tns:sodRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="metadata">
        <xs:simpleContent>
          <xs:extension base="xs:string">
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
      <xs:complexType name="sodRequest">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="dataGroup" type="tns:dataGroup" />
          <xs:element minOccurs="0" name="ldsVersion" type="xs:string" />
          <xs:element minOccurs="0" name="unicodeVersion" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dataGroup">
        <xs:simpleContent>
          <xs:extension base="xs:base64Binary">
            <xs:attribute name="id" type="xs:int" use="required" />
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
      <xs:complexType name="processSODResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:sodResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sodResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:dataResponse">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="dataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="archiveId" type="xs:string" />
          <xs:element minOccurs="0" name="data" type="xs:base64Binary" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="metadata" nillable="true" type="tns:metadata" />
          <xs:element name="requestId" type="xs:int" />
          <xs:element minOccurs="0" name="signerCertificate" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="processData">
        <xs:sequence>
          <xs:element minOccurs="0" name="worker" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="metadata" type="tns:metadata" />
          <xs:element minOccurs="0" name="data" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="processDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:dataResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="RequestFailedException" type="tns:RequestFailedException" />
      <xs:complexType name="RequestFailedException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="InternalServerException" type="tns:InternalServerException" />
      <xs:complexType name="InternalServerException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="ClientNotAuthorizeException" type="tns:ClientNotAuthorizeException" />
      <xs:complexType name="ClientNotAuthorizeException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="processSOD">
    <wsdl:part name="parameters" element="tns:processSOD" />
  </wsdl:message>
  <wsdl:message name="processSODResponse">
    <wsdl:part name="parameters" element="tns:processSODResponse" />
  </wsdl:message>
  <wsdl:message name="processData">
    <wsdl:part name="parameters" element="tns:processData" />
  </wsdl:message>
  <wsdl:message name="RequestFailedException">
    <wsdl:part name="RequestFailedException" element="tns:RequestFailedException" />
  </wsdl:message>
  <wsdl:message name="processDataResponse">
    <wsdl:part name="parameters" element="tns:processDataResponse" />
  </wsdl:message>
  <wsdl:message name="InternalServerException">
    <wsdl:part name="InternalServerException" element="tns:InternalServerException" />
  </wsdl:message>
  <wsdl:message name="ClientNotAuthorizeException">
    <wsdl:part name="ClientNotAuthorizeException" element="tns:ClientNotAuthorizeException" />
  </wsdl:message>
  <wsdl:portType name="ClientWS">
    <wsdl:operation name="processSOD">
      <wsdl:input name="processSOD" message="tns:processSOD" />
      <wsdl:output name="processSODResponse" message="tns:processSODResponse" />
      <wsdl:fault name="RequestFailedException" message="tns:RequestFailedException" />
      <wsdl:fault name="InternalServerException" message="tns:InternalServerException" />
    </wsdl:operation>
    <wsdl:operation name="processData">
      <wsdl:input name="processData" message="tns:processData" />
      <wsdl:output name="processDataResponse" message="tns:processDataResponse" />
      <wsdl:fault name="RequestFailedException" message="tns:RequestFailedException" />
      <wsdl:fault name="InternalServerException" message="tns:InternalServerException" />
      <wsdl:fault name="ClientNotAuthorizeException" message="tns:ClientNotAuthorizeException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientWSServiceSoapBinding" type="tns:ClientWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="processSOD">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="processSOD">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="processSODResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestFailedException">
        <soap:fault use="literal" name="RequestFailedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalServerException">
        <soap:fault use="literal" name="InternalServerException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="processData">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="processData">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="processDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestFailedException">
        <soap:fault use="literal" name="RequestFailedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalServerException">
        <soap:fault use="literal" name="InternalServerException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ClientNotAuthorizeException">
        <soap:fault use="literal" name="ClientNotAuthorizeException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientWSService">
    <wsdl:port name="ClientWSPort" binding="tns:ClientWSServiceSoapBinding">
      <soap:address location="http://14.160.32.230:8002/signserver/ClientWSService/ClientWS" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>