TT/MedyxQN_KN/MedyxQN_KN/Medyx/App_WebReferences/DTT/Test/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:12770/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:12770/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:12770/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_TranfersThongBao_InputMessage">
    <wsdl:part name="parameters" element="tns:TranfersThongBao" />
  </wsdl:message>
  <wsdl:message name="IService_TranfersThongBao_OutputMessage">
    <wsdl:part name="parameters" element="tns:TranfersThongBaoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetBaoCaoCLSByTuNgayDenNgay_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBaoCaoCLSByTuNgayDenNgay" />
  </wsdl:message>
  <wsdl:message name="IService_GetBaoCaoCLSByTuNgayDenNgay_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBaoCaoCLSByTuNgayDenNgayResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetBaoCaoTuVongByTuNgayDenNgay_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBaoCaoTuVongByTuNgayDenNgay" />
  </wsdl:message>
  <wsdl:message name="IService_GetBaoCaoTuVongByTuNgayDenNgay_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBaoCaoTuVongByTuNgayDenNgayResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetBaoCaoPhauThuatThuThuatByTuNgayDenNgay_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBaoCaoPhauThuatThuThuatByTuNgayDenNgay" />
  </wsdl:message>
  <wsdl:message name="IService_GetBaoCaoPhauThuatThuThuatByTuNgayDenNgay_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBaoCaoPhauThuatThuThuatByTuNgayDenNgayResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetBaoCaoHDDieuTriByTuNgayDenNgay_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBaoCaoHDDieuTriByTuNgayDenNgay" />
  </wsdl:message>
  <wsdl:message name="IService_GetBaoCaoHDDieuTriByTuNgayDenNgay_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBaoCaoHDDieuTriByTuNgayDenNgayResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetBaoCaoHDKhamBenhByTuNgayDenNgay_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBaoCaoHDKhamBenhByTuNgayDenNgay" />
  </wsdl:message>
  <wsdl:message name="IService_GetBaoCaoHDKhamBenhByTuNgayDenNgay_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBaoCaoHDKhamBenhByTuNgayDenNgayResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="TranfersThongBao">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/TranfersThongBao" message="tns:IService_TranfersThongBao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/TranfersThongBaoResponse" message="tns:IService_TranfersThongBao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBaoCaoCLSByTuNgayDenNgay">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetBaoCaoCLSByTuNgayDenNgay" message="tns:IService_GetBaoCaoCLSByTuNgayDenNgay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetBaoCaoCLSByTuNgayDenNgayResponse" message="tns:IService_GetBaoCaoCLSByTuNgayDenNgay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBaoCaoTuVongByTuNgayDenNgay">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetBaoCaoTuVongByTuNgayDenNgay" message="tns:IService_GetBaoCaoTuVongByTuNgayDenNgay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetBaoCaoTuVongByTuNgayDenNgayResponse" message="tns:IService_GetBaoCaoTuVongByTuNgayDenNgay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBaoCaoPhauThuatThuThuatByTuNgayDenNgay">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetBaoCaoPhauThuatThuThuatByTuNgayDenNgay" message="tns:IService_GetBaoCaoPhauThuatThuThuatByTuNgayDenNgay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetBaoCaoPhauThuatThuThuatByTuNgayDenNgayResponse" message="tns:IService_GetBaoCaoPhauThuatThuThuatByTuNgayDenNgay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBaoCaoHDDieuTriByTuNgayDenNgay">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetBaoCaoHDDieuTriByTuNgayDenNgay" message="tns:IService_GetBaoCaoHDDieuTriByTuNgayDenNgay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetBaoCaoHDDieuTriByTuNgayDenNgayResponse" message="tns:IService_GetBaoCaoHDDieuTriByTuNgayDenNgay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBaoCaoHDKhamBenhByTuNgayDenNgay">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetBaoCaoHDKhamBenhByTuNgayDenNgay" message="tns:IService_GetBaoCaoHDKhamBenhByTuNgayDenNgay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetBaoCaoHDKhamBenhByTuNgayDenNgayResponse" message="tns:IService_GetBaoCaoHDKhamBenhByTuNgayDenNgay_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TranfersThongBao">
      <soap:operation soapAction="http://tempuri.org/IService/TranfersThongBao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaoCaoCLSByTuNgayDenNgay">
      <soap:operation soapAction="http://tempuri.org/IService/GetBaoCaoCLSByTuNgayDenNgay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaoCaoTuVongByTuNgayDenNgay">
      <soap:operation soapAction="http://tempuri.org/IService/GetBaoCaoTuVongByTuNgayDenNgay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaoCaoPhauThuatThuThuatByTuNgayDenNgay">
      <soap:operation soapAction="http://tempuri.org/IService/GetBaoCaoPhauThuatThuThuatByTuNgayDenNgay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaoCaoHDDieuTriByTuNgayDenNgay">
      <soap:operation soapAction="http://tempuri.org/IService/GetBaoCaoHDDieuTriByTuNgayDenNgay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaoCaoHDKhamBenhByTuNgayDenNgay">
      <soap:operation soapAction="http://tempuri.org/IService/GetBaoCaoHDKhamBenhByTuNgayDenNgay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:12770/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>